.body {
	padding-left: 1rem;
	padding-right: 1rem;
	max-width: 42em;

	@media screen and ( min-width: 480px ) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@media screen and ( min-width: 650px ) {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	@media screen and ( min-width: 1000px ) {
		padding-left: 8rem;
		padding-right: 8rem;
	}
}
