.btn {
	display: inline-block;
	padding: 1rem 2rem;
	background-color: $color-Hero-Background-light;
	color: $color-Text;
	border-radius: 8px;
	border: 3px solid $color-Text;
	font-size: 1.125rem;
	text-decoration: none;
	transition: background 0.2s ease;

	&:focus {
		outline: 3px solid $color-Focus;
		border-radius: 0;
	}

	&.btn--soft {
		background-color: transparent;
	}

	&.btn--soft:hover,
	&:hover {
		background-color: $color-Hero-Background;
	}
}
