.cheats {
	margin: 3.2rem 2rem 0 2rem;
	overflow: hidden;
}

.cheat {
	padding-bottom: 1.5rem;

	@media screen and ( min-width: 650px ) {
		width: 49%;
		float: left;
		margin: 0 0.5%;
	}

	@media screen and ( min-width: 1000px ) {
		width: 32.333333333%;
	}

	@media screen and ( min-width: 1400px ) {
		width: 19%;
	}
}

@supports ( columns: 18rem 4 ) {
	.cheats {
		@media screen and ( min-width: 650px ) {
			columns: 18rem 4;
			column-fill: balance;
		}
	}

	.cheat {
		display: inline-block;
		float: none;
		width: 100%;
		margin: 0;
	}
}

.cheat__headline {
	font-size: 1.3rem;
	margin: 1.5rem 0 0 0;
	padding: 0.5rem;
	border: 3px solid $color-Hero-Background;
	border-bottom: none;
	text-align: center;
}

.cheat__description {
	border-left: 3px solid $color-Hero-Background;
	border-right: 3px solid $color-Hero-Background;
	padding: 0.5rem;

	p {
		font-size: 0.888888888rem;
		margin-top: 0;
	}
}

.cheat__item {
	border: 3px solid $color-Hero-Background;
	border-bottom: none;
	box-sizing: border-box;

	&:last-child {
		border-bottom: 3px solid $color-Hero-Background;
	}
}

.cheat__item__headline {
	padding: 0.5rem;
	cursor: pointer;
	background-color: $color-Background-light;
}

.cheat__item__details__description {
	padding: 0.5rem;

	p {
		font-size: 0.888888888rem;
	}
}

.cheat__item__details__example {
	pre {
		margin: 0;

		code {
			padding-top: 0.8rem;
			border: none;
		}
	}
}
