.content {
	padding: 0 1rem;

	@media screen and ( min-width: 480px ) {
		padding: 0 2rem;
	}
}

.content {
	position: relative;
	padding-top: 3rem;
	max-width: 42em;
	margin-left: auto;
	margin-right: auto;

	pre {
		transform: translate3d( 0, 0, 0 );
	}

	pre code {
		position: relative;
		border-radius: 3px;
		padding-top: 2.5rem;
		padding-bottom: 1rem;
		color: #fff;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 1rem;
			padding: 0.5rem 1em;
			top: 0;
		}

		&:after {
			content: '';
			position: fixed;
			top: 0;
			left: 1em;
			width: 54px;
			height: 1rem;
			padding: 0.5rem 0;
			background-image: svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 14" width="54px" height="14px">' +
				'<circle fill="#FF5F58" cx="6" cy="6" r="5.5"></circle>' +
				'<circle fill="#FFBE2D" cx="26" cy="6" r="5.5"></circle>' +
				'<circle fill="#27CA41" cx="46" cy="6" r="5.5"></circle>' +
			'</svg>');
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	pre.code-toolbar > .toolbar {
		right: .5em;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
	}

	hr {
		border: none;
		border-top: 2px dashed $color-Text;
		margin: 1.5rem 0;
	}

	th {
		text-align: left;
		padding: 0.5rem;
	}

	tbody tr:nth-child( odd ) {
		background-color: $color-Background-light;
	}

	td {
		padding: 0.5rem;
	}

	img {
		display: block;
		max-width: 100%;
		box-shadow: 0 0 11px -3px rgba( 0, 0, 0, 0.5 );
		margin: 1rem 0;
	}
}

.content__link {
	position: absolute;
	top: 5.3rem;
	left: 0.25rem;
	font-size: 1rem;
	display: none;

	.content:hover & {
		display: block;
	}

	@media screen and ( min-width: 480px ) {
		font-size: 1.5rem;
		top: 5rem;
	}
}

.content__edit-this-page {
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}

.content__icon {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-height: 20rem;
}
