.content {
	padding-top: 3rem;

	pre {
		transform: translate3d( 0, 0, 0 );
	}

	pre code {
		position: relative;
		border-radius: 3px;
		padding-top: 2.5rem;
		padding-bottom: 1rem;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 1rem;
			padding: 0.5rem 1em;
			top: 0;
		}

		&:after {
			content: '';
			position: fixed;
			top: 0;
			left: 1em;
			width: 54px;
			height: 1rem;
			padding: 0.5rem 0;
			background-image: svguri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 54 14" width="54px" height="14px">' +
				'<circle stroke="#F24941" stroke-width="1" fill="#FF5F58" cx="6" cy="6" r="5.5"></circle>' +
				'<circle stroke="#DF9F27" stroke-width="1" fill="#FFBE2D" cx="26" cy="6" r="5.5"></circle>' +
				'<circle stroke="#2AAA2C" stroke-width="1" fill="#27CA41" cx="46" cy="6" r="5.5"></circle>' +
			'</svg>');
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
	}
}

.content__link {
	position: absolute;
	top: 3.5rem;
	left: 0.25rem;
	font-size: 1rem;
	display: none;

	.content:hover & {
		display: block;
	}

	@media screen and ( min-width: 480px ) {
		font-size: 1.5rem;
		top: 3.25rem;
	}
}
