.header {
	position: relative;
	display: block;
	height: 45rem;
	background-color: #b2e1d8;
	background: linear-gradient(135deg, #b2e1d8 0%,#007565 100%);
	overflow: hidden;
	z-index: 10;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: -50%;
		left: 20%;
		background-color: #b2e1d8;
		background: linear-gradient(
			to right,
			rgba( 178, 225, 216, 0 ) 0%,
			rgba( 178, 225, 216, 1 ) 30%,
			rgba( 178, 225, 216, 1 ) 70%,
			rgba( 178, 225, 216, 0 ) 100%
		);
		width: 8rem;
		height: 250%;
		transform: rotate( -45deg );
		opacity: 0.2;
		z-index: 10;
		animation: light1 10s infinite;
	}

	&:before {
		opacity: 0.3;
		width: 20rem;
		animation: light2 20s infinite;
	}
}

@keyframes light1 {
	from {
		left: 30%;
	}

	60% {
		left: 33%;
	}

	to {
		left: 30%;
	}
}

@keyframes light2 {
	from {
		width: 20rem;
	}

	50% {
		width: 25rem;
	}

	to {
		width: 20rem;
	}
}


// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  ROCKS
//
.header__rocks {
	position: absolute;
	z-index: 20;
}

.header__rocks--left {
	left: 0;
	bottom: 0;
	width: 330px;
	height: auto;
}

.header__rocks--right {
	right: -25rem;
	top: 0;
	width: auto;
	height: 45rem;

	@media screen and ( min-width: 500px ) {
		right: -18rem;
	}

	@media screen and ( min-width: 1000px ) {
		right: -12rem;
	}
}

.header__rocks--back {
	left: 15%;
	bottom: 0;
	width: auto;
	height: 16rem;
	z-index: 9;
}


// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  LOGO
//
.header__logo {
	position: absolute;
	top: 5rem;
	left: 50%;
	width: 320px;
	margin-left: -160px;
}

.header__logo__logo,
.header__logo__cuttlebelle {
	display: block;
	margin: 0 auto;
	height: auto;
}

.header__logo__logo {
	width: 184px;
	margin-bottom: 1rem;
}

.header__logo__cuttlebelle {
	width: 300px;
}

.header__logo__description {
	font-size: 1.125rem;
	text-align: center;
}

.logo-bubble {
	fill: #3bd4ae;
	animation: skin 80s infinite;
}

@keyframes skin {
	from {
		-webkit-filter: hue-rotate( 0deg );
		filter: hue-rotate( 0deg );
	}

	to {
		-webkit-filter: hue-rotate( -360deg );
		filter: hue-rotate( -360deg );
	}
}


// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  BUBBLE
//
.header__bubble {
	position: absolute;
	left: 8.8rem;
	top: 0;
	height: 200px;
	width: 200px;
	box-shadow: 0 20px 30px rgba( 0, 117, 101, 0.1 ), inset 0px 10px 30px 5px rgba( 255, 255, 255, 1 );
	border-radius: 50%;
	transform: scale( 0.2 );
	// animation: hover 20s ease-in-out infinite;

	&:after {
		content: '';
		position: absolute;
		left: 10px;
		height: 180px;
		width: 180px;
		border-radius: 50%;
		background: radial-gradient( ellipse at center, rgba( 255, 255, 255, 0.5 ) 0%, rgba( 255, 255, 255, 0 ) 70% );
		box-shadow: inset 0 20px 30px rgba( 255, 255, 255, 0.3 );
	}
}

.header__bubble--left {
	left: -1.5rem;
	// animation-delay: -3s;
}

.header__bubble__icon {
	position: absolute;
	left: 3.2rem;
	top: 3.4rem;
	width: 50%;
	height: auto;
}

.header__bubble__icon--content {
	width: 35%;
	left: 4rem;
	top: 4rem;
}

// @keyframes hover {
// 	from {
// 		top: 0;
// 	}

// 	50% {
// 		top: -6px;
// 	}

// 	to {
// 		top: 0;
// 	}
// }


// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  FISH
//
.header__fishschool {
	position: absolute;
	left: 220px;
	bottom: 160px;
	animation: swim 100s infinite;

	@media screen and ( min-width: 500px ) {
		bottom: 57px;
	}
}

.header__fishschool__fish {
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: auto;
}

.header__fishschool__fish--3,
.header__fishschool__fish--4,
.header__fishschool__fish--5,
.header__fishschool__fish--8 {
	width: 10px;
}

.header__fishschool__fish--6,
.header__fishschool__fish--7 {
	width: 8px;
}

.header__fishschool__fish--1 {
	top: 9px;
}

.header__fishschool__fish--2 {
	left: 8px;
}

.header__fishschool__fish--3 {
	top: 7px;
	left: 19px;
}

.header__fishschool__fish--4 {
	top: 18px;
	left: 25px;
}

.header__fishschool__fish--5 {
	top: 10px;
	left: 31px;
}

.header__fishschool__fish--6 {
	top: 16px;
	left: 39px;
	transform: rotate( -12deg );
}

.header__fishschool__fish--7 {
	top: 5px;
	left: 41px;
}

.header__fishschool__fish--8 {
	top: 12px;
	left: 48px;
	transform: rotate( 9deg );
}

@keyframes swim {
	from {
		left: 0%;
	}

	to {
		left: 50%;
	}
}
